@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #222222;
  --primary: #222222;
  --secondary: #7B7B7B;
  --tertiary: #F8F8F8;
  --white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-white: var(--white);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
